body {
    background-color: bisque;
}

.formbox {
    background-color: sandybrown;
    width: 75%;
    padding: 5%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         10px 10px 10px 1px #888;
}

.navbar-brand {
    font-size: 2.5em;
    font-family: 'Charmonman', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

h2 {
    font-size: 1em;
    font-family: 'Charmonman', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color:black;
}

.navbar-custom {
    background-color:sandybrown;
    
}
/* change the brand and text color */
.navbar-custom .navbar-brand
.navbar-custom .navbar-text {
    color: bisque;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:wheat;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}